body {
    background-color: #f9f9f9;
    font-family:      'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size:        1em;
    font-style:       normal;
    font-variant:     normal;
    line-height:      1.25em;
}

h1, h2, h3, h4 {
    font-weight:   bold;
    margin-bottom: 1em;
    margin-top:    1em;
}

h1 {
    font-size:   2em;
    line-height: 1.2em;
}

h2 {
    font-size:   1.5em;
    line-height: 1.2;
}

a {
    color:           #4078c0;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

ul {
    list-style:   disc;
    padding-left: 2em;
}