body {
    background-color: #f9f9f9;
    font-family:      'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
    font-size:        1em;
    font-style:       normal;
    font-variant:     normal;
    line-height:      1.25em;
}

h1, h2, h3, h4 {
    font-weight:   bold;
    margin-bottom: 1em;
    margin-top:    1em;
}

h1 {
    font-size:   2em;
    line-height: 1.2em;
}

h2 {
    font-size:   1.5em;
    line-height: 1.2;
}

a {
    color:           #4078c0;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

ul {
    list-style:    disc;
    margin-bottom: 1em;
    padding-left:  2em;
}

p {
    margin-bottom: 1em;
}

table {
    display:       block;
    margin-bottom: 1em;
    overflow:      auto;
    width:         100%;
    word-break:    keep-all;
}

table th, table td {
    border:  1px solid #ddd;
    padding: 0.4em 0.8em;
}

table tr {
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* FORMS */
label {
    margin:  0.9375em 0;
    display: block;
    cursor:  default;
}

label span {
    display: block;
    margin:  0 0 0.35em;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], select, textarea {
    background-color: #fafafa;
    border:           1px solid #ccc;
    border-radius:    0.188em;
    box-shadow:       inset 0 1px 2px rgba(0, 0, 0, 0.075);
    font:             inherit;
    font-size:        0.813em;
    max-width:        33.846em;
    min-height:       2.615em;
    outline:          none;
    padding:          0.538em 0.615em;
    vertical-align:   middle;
    width:            100%;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
    background-color: #fff;
}

textarea {
    min-height: 10em;
}

textarea.short {
    min-height: 5em;
}

input[type="submit"], .button {
    background-color:    #eee;
    border:              1px solid #d5d5d5;
    border-radius:       0.188em;
    color:               #333;
    cursor:              pointer;
    display:             inline-block;
    font:                inherit;
    font-size:           0.813em;
    font-weight:         bold;
    padding:             0.462em 0.923em;
    vertical-align:      middle;
    white-space:         nowrap;
    -webkit-user-select: none;
    -moz-user-select:    none;
    -ms-user-select:     none;
    user-select:         none;
    -webkit-appearance:  none;
}

input[type="submit"]:hover, input[type="submit"]:active, .button:hover, .button:active {
    background-color: #ddd;
    border-color:     #ccc;
    text-decoration:  none;
}

/* ALERT BOXES */
.alert-box {
    border-radius: 0.188em;
    margin-bottom: 1em;
    padding:       1em;
}

.alert-box span {
    font-weight:    bold;
    text-transform: uppercase;
}

.error {
    background: #ffecec;
    border:     1px solid #f5aca6;
}

.success {
    background: #e9ffd9;
    border:     1px solid #a6ca8a;
}

.warning {
    background: #fff8c4;
    border:     1px solid #f2c779;
}

.notice {
    background: #e3f7fc;
    border:     1px solid #8ed9f6;
}