#container {
    max-width:                  1000px;
    background-color:           #fff;
    margin:                     0 auto;
    border:                     1px solid #eee;
    border-top:                 none;
    padding:                    1em 2em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius:  1em;
}

#container > *:first-child {
    margin-top: 0 !important;
}

#container > *:last-child {
    margin-bottom: 0 !important;
}