#container {
    max-width:                  1000px;
    background-color:           #fff;
    margin:                     0 auto;
    border:                     1px solid #eee;
    border-top:                 none;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius:  1em;
}

#content, #footer {
    padding: 1em 2em;
}

#content > *:first-child {
    margin-top: 0 !important;
}

#content > *:last-child {
    margin-bottom: 0 !important;
}

#footer {
    border-top: 1px solid #eee;
    font-size:  0.75em;
    color:      #767676;
}

#footer iframe {
    vertical-align: middle;
}